<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder
            by default -->
		<encoder>
			<pattern>%d{ISO8601} %marker %msg - [%logger{15} - %-5level]%n</pattern>
		</encoder>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>testautomat.log</file>
		<append>false</append>
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder
            by default -->
		<encoder>
			<pattern>@%d{ISO8601} %marker %msg - [%logger{15} - %-5level]%n</pattern>
		</encoder>
	</appender>

	<logger name="org.reflections" level="OFF" />
	<logger name="org.apache.http" level="OFF"/>
	<logger name="com.jayway" level="OFF"/>
	<logger name="io.testifi.cast.core.scan.TestConfigurationScanner" level="WARN" />
	<logger name="io.testifi.cast.core.scan.DefaultScanHintProvider" level="WARN" />
	<logger name="io.testifi.cast.core.model.AbstractModelObject" level="WARN" />
	<logger name="org.apache.fontbox" level="OFF"/>
	<logger name="org.apache.pdfbox" level="OFF"/>

	<root level="debug">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</root>
</configuration>